# RoninPLEX Environment Variables Example
# Duplicate this file to .env or .env.local to configure during development.
# Note: RoninPLEX also allows you to configure your TMDB API Key directly in the UI via Settings -> TMDB API.

# Optional: Default The Movie Database (TMDB) API Key (v3 auth)
VITE_TMDB_API_KEY=your_tmdb_api_key_here
